<!DOCTYPE html>
<html>

<head>
    <title>{{ films|count }} Films</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>

<body style="background-color:rgb(89,89,89);">
    {% for film in films %}
    <a id="{{ film.key }}" href="{{ film.url }}"><img src="images/{{ film.key }}{{EXT_IMG}}" width="290" loading="lazy"
            title="{{ film.titre }} ({{ film.genre }} - {{ film.annee }} - {{ film.duree }} - {{ film.note }}){% if film.tagline %}&#10;&#10;{{ film.tagline }}{% endif %}&#10;&#10;{{ film.synopsis }}"></a>
    {% endfor %}
</body>

</html>